.date__stripe {
    background-color: #008364;
    height: 74px;
    text-align: center;
    padding: 4px;
}

.date__stripe--text {
    color: white;
    font-family: 'Calistoga', cursive;
    font-size: 32px;
}

@media screen and (min-width: 768px) {
   .date__stripe {
    width: 417px;
    height: 94px;
    margin: 0 auto;
   }
}

@media screen and (min-width: 1440px) {
    
    .date__stripe--text {
        margin: 24px 0;
    }
 }