.sector__map {
    background: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
}
.sector__title {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    font-size: 32px;
}

.sector__about {
    padding: 0 15px;
}
@media screen and (min-width: 768px) {
    .map {
        width: 648px;
    }

    h3 {
        font-size: 32px;
    }

    .sector__title {
        margin-bottom: 32px;
    }

    /* .sector__map--subtitle {
        padding: 0 30%;
    } */

    .sector__map--ms {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 52px;
    }
}

@media screen and (min-width: 1440px) {
    .sector__map--ms {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .map {
        margin-right: 135px;
    }

    .sector__title {
        font-size: 40px;
        font-weight: 700;
        line-height: 47px;

    }

    .sector__about {
        display: flex;
        gap: 25px;
    }

    .sector__about div:nth-child(even){
        margin-top: 104px;
    }
}