.data__input {
    display: block;
    width: 312px;
    height: 48px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    font-family: 'Raleway', sans-serif;

}

.data__input--d {
    margin-bottom: 32px;
}

.data__input--lb {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: white;
    line-height: 38px;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .data__input{
        width: 100%;
    }

    .buy__ticket--content {
        padding: 0 60px;
    }
} 