.card__img--desk {
    display: none;
}


.infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.infocard__content {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    /* .infocard {
    margin-bottom: 64px;
   } */

    .card__img--desk {
        display: block;
    }

    .card__img--mob {
        display: none;
    }

    .infocard__img {
        margin-bottom: 32px;
    }

    .infocard__content {
        padding: 0 96px;
    }
}

@media screen and (min-width: 1440px) {
    .infocard {
        width: 100%;
    }

    .infocard__content {
        padding: 0 0px;
    }
}