.infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infocard__content {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

@media screen and (min-width: 768px) {
   .infocard {
    margin-bottom: 64px;
   }

   .infocard__img {
    margin-bottom: 32px;
    }

    .infocard__content {
        padding: 0 96px;
    }
}

@media screen and (min-width: 1440px) {
    .infocard {
        width: 100%;
        flex-direction: row;
    }
    .infocard__content {
        padding: 0 0px;
        text-align: start;
        margin-left: 48px;
    }
 }