.buy__ticket{
    background: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
}

.t{
    border: 2px solid red;
}

.buy__ticket--content {
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buy__ticket--lb {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
}

.buy__ticket--input{
    /* display: block; */
    width: 100%;
    max-width: 795px;
    height: 48px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    /* margin-bottom: 24px; */
    font-family: 'Raleway', sans-serif;
}

.buy__ticket--cont{
    margin-bottom: 24px;    
}

.error-message {
    display: none;
    color: #a31717;
    font-weight: bold;
}

.input-invalid .error-message {
    display: block;
}

.input-invalid .buy__ticket--input {
    border: 2px solid #a31717;
}


.buy__ticket--slc {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: white;
    line-height: 38px;
}



.buy__ticket--opt {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    color: #444444;
    padding: 10px;
    box-sizing: border-box;
    width: 312px;
    height: 48px;
    border: none;
    max-width: 795px;
}

.buy__ticket--btn{
    font-family: 'Raleway', sans-serif;
    line-height: 36px;
    padding: 8px 16px;
    color: white;
    background-color: #4650BD;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 16px;
    border: none;
    width: 164px;
    font-size: 20px;
    background-image: url('../../img/arrow_activity.svg');
    background-repeat: no-repeat;
    background-position-x: 92%;
    background-position-y: center;
    background-size: 16px;
}

.buy__ticket--error {
    color: red;
    display: none;
}

@media screen and (min-width: 768px) {
    .buy__ticket--opt{
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    /* .buy__ticket--content {
        padding: 0 322px;
       
    } */
}