.main__button {
    background-color: #4650BD;
    padding: 16px 92px 16px 44px;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background-image: url('../../img/local_activity.svg');
    background-repeat: no-repeat;
    background-position: 80%;
    box-shadow: 4px 4px 0px #444444;
    border-radius: 10px;
    display: block;
    margin-top: 35px;
    width: 100%;
    text-align: center;
    /* line-height: 40px; */
}

@media screen and (min-width: 768px) {
    .main__button {
        height: 56px;
        max-width: 360px;
    }
}