.info__header {
    background-color: #4650BD;
    color: white;
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    background-image: url('../../img/arrow_drop_down.svg');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
    padding: 16px;
    box-sizing: border-box;
    
}

.info__content {
    background-color: #C8DEEF;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    color: #444444;
    padding: 16px;
    box-sizing: border-box;}

h3 {
    margin: 0;
}