.experienceContent {
    background: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
   
}

.eCont{
    box-sizing: border-box;
    padding: 0 24px;
}


.bn {
    margin-bottom: 32px;
}

@media screen and (min-width: 1440px) {
    .eCont{
        padding: 0 121px;
    }

    .special__class {
        flex-direction: row !important;
    }
    
    .special__class--middle {
        flex-direction: row-reverse !important;
    }
    
 }