footer {
    background-color: #4650BD;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 0;
    margin-bottom: 32px;
}

.footer__media--social{
    color: white;
    font-size: 20px;
    text-align: center;
}

li {
    list-style: none;
}

.social--icon {
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: block;
}

.wpp {
    background-image: url('../../img/Ícones\ redes\ socias-18.svg');
}

.twitch {
    background-image: url('../../img/Ícones\ redes\ socias-19.svg');
}

.insta {
    background-image: url('../../img/Ícones\ redes\ socias-16.svg');
}

.twitter {
    background-image: url('../../img/Ícones\ redes\ socias-17.svg');
}

@media screen and (min-width: 768px) {
    .footer__content{
        text-align: center;
    }
    
    .footer__media {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        margin-top: 10px;
    }

    .social {
        margin: 0;
        margin-left: 8px;
    }
}

@media screen and (min-width: 1440px) {
   footer {
    flex-direction: row;
    padding: 29px 120px;
    justify-content: space-between;
   }

   .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
}