.main__content {
    background: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 32px 23px; */
}
.main__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__content--box {
    padding: 32px 23px;
}

.main__info--txt {
    color: #ffff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.main__info--textbox {
    margin-top: 32px;
}

.main__btn {
    margin-top: 24px;
}

.main__content--txt {
    color: white;
    font-family: 'Calistoga', serif;
    font-size: 48px;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
    .main__content--box {
        padding: 32px 35px
    }

    .main__btn {
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .main__info--textbox {
       display: flex;
       align-items: center;
       flex-direction: column;
    }
    .main__content--txt {
        font-size: 64px;
        margin-bottom: 37px;
    }
}

@media screen and (min-width: 1440px) {
    .main__info {
      flex-direction: row;
      margin-bottom: 96px;
    }

    .main__info--textbox {
        padding: 0 161px;
    }
}

@media screen and (min-width: 1800px) {
    .main__content--box {
        padding: 40px 198px;
    }

    .main__info--textbox {
        padding: 0 180px;
    }
}

