.info__screen {
    background: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
}
.info{
    padding: 24px;
}

.info__txt {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .info__txt {
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .info {
        padding: 24px 222px;
    }
    .info__txt {
        margin-bottom: 48px;
    }
}