.menu {
    display: flex;
    justify-content: space-around;
    padding: 32px 0;
    background-color: #4650BD;
    
}
.menu__list {
    align-self: center;
}
.menu__off {
    display: none;
}
.menu__item {
    display: inline;
}

.menu__link {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    margin-right: 32px;
   
}